.fan-network-content {
  padding: 100px;
  background: #2a2a2b;
}

.fan-network-title {
  text-align: center;
  display: grid;
  gap: 40px;
}

.fan-network-img img {
  max-width: 892px;
  width: 100%;
}
.fan-network-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fan-network-title h2 {
  max-width: 885px;
  width: 100%;
  margin: 0 auto;
  font-size: 32px;
  line-height: 38px;
  background: -webkit-linear-gradient(left, #ffffff, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fan-network-title p {
  max-width: 786px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 20px;
  color: #d2d2d2;
}
